.ag-theme-balham .ag-row-odd {
  background-color: #fff;
}
.ag-theme-balham .ag-header {
  background: #fff;
}
.highlight-id {
  color: blue;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 255, 0.1);
  }
}
.pagination {
  margin-top: 15px;
  .page-item {
    margin-right: 10px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.disabled {
      pointer-events: none;
    }
  }
  .page-item.active .page-link {
    background: #ff9662;
    border-color: #ff9662;
  }
}
