.btn {
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: inherit;
    }
  }
}
.form-group {
  label {
    margin: 0;
  }
}
.default {
  height: 386px;
  transition: height 700ms ease-in-out;
  overflow: hidden;
  &.true {
    height: 68px;
    .card-title {
      margin: 0;
    }
    .card-body,
    form,
    .form-group {
      display: none;
    }
  }
}
